/.github
/bin
/docs
/tests
/.dockerignore
/.editorconfig
/.gitattributes
/.gitignore
/.php-cs-fixer.php
/CHANGELOG.md
/codecov.yml
/composer.lock
/Dockerfile
/mkdocs.yml
/phpstan.neon
/phpunit.xml
/phpunit.coverage.xml
/rector.php
