/vendor
/.php-cs-fixer.cache
/.phpunit.result.cache
/.build
/docs/__pycache__
/tests/Build/test-application/*/vendor
/tests/Build/test-application-empty/composer.lock
/tests/Build/test-application-empty/vendor
/tests/Build/test-application-erroneous/vendor
/site
