/vendor
/.php-cs-fixer.cache
/.phpunit.result.cache
/.build
/docs/__pycache__
/tests/build/test-application/vendor
/tests/build/test-application-empty/composer.lock
/tests/build/test-application-empty/vendor
/tests/build/test-application-erroneous/vendor
/site
