parameters:
	ignoreErrors:
		-
			message: "#^Call to function method_exists\\(\\) with Composer\\\\Installer and 'setAudit' will always evaluate to true\\.$#"
			count: 2
			path: src/Composer/Installer.php
